html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #82addb 0%, #fad5d4 100%);
    overflow: scroll;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 5em;
    text-align: center;
    padding: 0.5em;
    color: black;
}

#time {
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
}

#saved a,
#home a {
    color: black;
}

#saved a:hover {
    color: white;
}

#saved i,
#home i {
    font-size: 2em;
    padding: 1em;
}

#emojis img {
    width: 170px;
    cursor: pointer;
    transition: transform .5s;
}

#emojis img:hover {
    transform: scale(1.2);
}

#emojis img:active {
    transform: translateY(10px);
}

#msg {
    text-align: center;
    font-size: 1.5em;
    padding-top: 2em;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    -webkit-animation: fadeIn linear 2s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#add {
    display: none;
    -webkit-animation: fadeIn linear 2s;
}

.list-msg {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 5em;
}

.list-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 18rem;
    margin: 1em;
}

@media (max-width: 400px) {
    h1 {
        font-size: 4em;
    }
    #emojis img {
        width: 130px;
    }
}